<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FinalProject</display-name>
  <servlet>
  <servlet-name>a</servlet-name>
  <servlet-class>FinalProject.Dbconn</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>a</servlet-name>
  <url-pattern>/Dbconn.java</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ab</servlet-name>
  <servlet-class>FinalProject.Dbconn1</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ab</servlet-name>
  <url-pattern>/Dbconn1.java</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>FinalProject.Dbconn2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/Dbconn2.java</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>abcd</servlet-name>
  <servlet-class>FinalProject.Dbconn3</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abcd</servlet-name>
  <url-pattern>/Dbconn3.java</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>d</servlet-name>
  <servlet-class>FinalProject.jadd</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>d</servlet-name>
  <url-pattern>/jadd.java</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>dc</servlet-name>
  <servlet-class>FinalProject.jdel</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>dc</servlet-name>
  <url-pattern>/jdel.java</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>dcb</servlet-name>
  <servlet-class>FinalProject.jissue</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>dcb</servlet-name>
  <url-pattern>/jissue.java</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>dcbe</servlet-name>
  <servlet-class>FinalProject.jissueu</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>dcbe</servlet-name>
  <url-pattern>/jissueu.java</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>dcbae</servlet-name>
  <servlet-class>FinalProject.jret</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>dcbae</servlet-name>
  <url-pattern>/jret.java</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
  <servlet-name>cae</servlet-name>
  <servlet-class>FinalProject.jlist</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>cae</servlet-name>
  <url-pattern>/jlist.java</url-pattern>
  </servlet-mapping> -->
  <servlet>
  <servlet-name>caeg</servlet-name>
  <servlet-class>FinalProject.jbill</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>caeg</servlet-name>
  <url-pattern>/jbill.java</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>caegf</servlet-name>
  <servlet-class>FinalProject.logout</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>caegf</servlet-name>
  <url-pattern>/logout.java</url-pattern>
  </servlet-mapping>
</web-app>